*{
    padding-left: 50px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 127, 223);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    padding-left: 50px;
}
.you{
   position: absolute;
   top: 56%;
    padding-left: 0%;
    font-size: 20px;
    font-family:'Press Start 2P', cursive;
}
.toy{
    width: 200px;
    transform: rotate(60deg);
    margin-left: 25%;
    margin-top: -80px;
}
#gameOver{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(77, 26, 26);
}
h1{
    margin-left: 10%;
    font-family:'Comic Sans MS', cursive;
}
.right {
  position: absolute;
    top: 50%; /* Adjust as needed for the desired height from the top */
    right: 50%; /* Adjust as needed */
    margin-left: 30px;
  }

#reset-el {
    background-color: rgba(126, 42, 165, 0.178);
    padding-right: 50px;
    margin-bottom: 90%;
    border-radius: 10px;
   margin-left: 50%;
}

@keyframes tadaa {
    0% {
        transform: scale(1);
    }
    10%, 20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%, 60%, 80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

strong.tadaa-text {
    display: inline-block;
    animation: tadaa 1s;
    font-size: 40px;
    color: darkred;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    button {
      
        border-radius: 10px;
        background-color: rgba(112, 142, 218, 0.111);
        color: rgb(128, 0, 36);
       
    }
   
}

@media (min-width: 992px) {
    button {
      
        border-radius: 10px;
        background-color: rgba(112, 142, 218, 0.111);
        color: rgb(128, 0, 36);
        width: 30%;
        .right {
          
            top: 50%; 
            right: 50%; 
            margin-left: 30px;
          }
    }
}

@media (min-width: 1200px) {
    button {
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(112, 142, 218, 0.111);
        color: rgb(128, 0, 36);
        width: 30%;
    }
}
#s-btn {
    background: none;
    border: none;
    width: 100px; 
    margin-top: 20px;
    height: 130px;
    display: block;
  }
  
  #s-btn img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    display: block;
  }
  
  #r-btn{
    background: none;
    border: none;
    background: none; 
    width: 100px; 
    height: 100px;
    display: block;
 
  }

  #r-btn img{
    width: 100px; 
    height: auto;
    display: block;
  }
  
#p-btn{
    background: none; 
    border: none;
    width: 100px; 
    height: 100px;
    display: block;
    margin-top: 20px;
}

#p-btn img{

 width: 100px; 
    height: auto;
    display: block;
 
}